/* CSS Grid usando la propiedad grid-templates-area */
.global {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    background: cyan;
    border: 5px solid black;
}

.cabecera {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    background: gray;
    padding: 10px;   
    border-bottom: 10px solid magenta;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, sans-serif; 
    color: orange;  
}

.pie {
    grid-column: 1 / span 4;
    grid-row: 5 / span 1;
    background: gray;
    padding: 10px;
    border-top: 10px solid magenta;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: orange;  
}


.menu {
    grid-column: 1 / span 1;
    grid-row: 2 / span 3;
    padding: 10px; 
    background-color: red;
    border: 5px double black;     
}
  

.contenido1 {
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
    padding: 10px;
    background-color: GreenYellow;
    border: 5px double black;     
    text-align: center;      
}

.contenido2_1 {
    grid-column: 2 / span 1;
    grid-row: 3 /span 1;
    padding: 10px;
    background-color: lime;
    border: 5px double black;     
    text-align: center;     
}

.contenido2_2 {
    grid-column: 3 / span 2;
    grid-row: 3 /span 1;
    padding: 10px;
    background-color: limegreen;
    border: 5px double black;     
    text-align: center;     
}


.contenido3 {
    grid-column: 2 / span 3;
    grid-row: 4 /span 1;
    padding: 10px;
    background-color: Green;
    border: 5px double black;     
    text-align: center;
}


