/* CSS Grid usando la propiedad grid-templates-area */
.global {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: /*Damos nombre a las distintas áreas (por filas) que ocuparan los items */
    'cabecera cabecera cabecera cabecera' 
    'menu contenido1 contenido1 contenido1'
    'menu contenido2_1 contenido2_2 contenido2_2'
    'menu contenido3 contenido3 contenido3'
    'pie pie pie pie';
    gap: 10px;
    padding: 10px;
    background: cyan;
    border: 5px solid black;
}

.cabecera {
    grid-area: cabecera; 
    background: gray;
    padding: 10px;   
    border-bottom: 10px solid magenta;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, sans-serif; 
    color: orange;  
}

.pie {
    grid-area: pie;
    background: gray;
    padding: 10px;
    border-top: 10px solid magenta;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: orange;  
}


.menu {
    grid-area: menu;
    padding: 10px; 
    background-color: red;
    border: 5px double black;     
}
  

.item1 {
    grid-area: contenido1; /*El nombre de los items y del área que ocupan no tienen porque coincidir */
    padding: 10px;
    background-color: GreenYellow;
    border: 5px double black;     
    text-align: center;      
}

.item2 {
    grid-area: contenido2_1;
    padding: 10px;
    background-color: lime;
    border: 5px double black;     
    text-align: center;     
}

.item3 {
    grid-area: contenido2_2;
    padding: 10px;
    background-color: limegreen;
    border: 5px double black;     
    text-align: center;     
}


.item4 {
    grid-area: contenido3;
    padding: 10px;
    background-color: Green;
    border: 5px double black;     
    text-align: center;
}


